/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Manrope:wght@300;400&family=Poppins:wght@300;500;600&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */

/* Default CSS */

body{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
h1{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #FFFFFF;
}
h2{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}
h3{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: #18191F;
}
p{
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  color: #6C6C6C;
}
.cbr-bg-primary{
  background: #264653;
}
.cbr-btn-primary{
  background: #E76F51;
  border-radius: 5px;
  color: #fff;
  font-weight:500;
}
.cbr-btn-primary:hover{
  background:none;
  border-radius: 5px;
  color: #E76F51;
  border: 1px solid #E76F51;
  font-weight: 500;
  transition: .4s ease-in-out;
}

.cbr-btn-secondary{
  border-radius: 5px;
  color: #E76F51;
  border: 1px solid #E76F51;
  font-weight: 500;
}
.cbr-btn-secondary:hover{
  background: #E76F51;
  border-radius: 5px;
  color: #fff;
  transition: .4s ease-in-out;
}
/* Custom CSS */
#mainmenu ul{
margin-right: 50px;
}
#mainmenu ul li a{
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#mainmenu ul li a:hover{
  color: #E76F51;
  font-weight: 500;
}

/* Hero Section CSS */
.hero p{
  color: #E0E0E0;
}
.hero img:hover{
  transform: translateX(-50px) rotate(-5deg);
  transition: transform .9s ease-in-out;
}

/* Fetured Bikes Section CSS */
.fetured-heading p{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #E76F51;
  margin-bottom: -13px;
}
.fetured-bike span{
  border: 1px solid #E76F51;
  border-radius: 1px;
  width: 58.5px;
  text-align: center;
  display: inline-block;
}
.image-gray{
  filter: grayscale(100%);
}
.fetured-bike img:hover{
  transform: scale(1.1);
  transition: transform .9s ease-in-out;
}

/* latest News Section CSS */
.card{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
}
.card:hover{
  transform: translateY(-10px);
  transition: transform .5s ease-in-out;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.20);
}
.latest-news-bg img:hover{
  opacity: .9;
  transition: opacity .5s;
}
.latest-news h2{
  border-bottom: 2px solid #E76F51;
  display: inline-block;
  padding: 0px 30px;
  border-radius: 2px;
}
.latest-news a{
text-decoration: none;
color: #18191F;
}
.latest-news a:hover{
text-decoration: none;
color: #E76F51;
}
.latest-news span{
  color: #E76F51;
}

/* Happy Clients Section CSS */
.happy-client span, .faq span{
  color: #E76F51;
}
.happy-client img{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fas, .far, .fa-star, .fa-list, .fa-shopping-cart, .separator a, .price-text-color{
  color: #E76F51;
}
.name{
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #23A6F0;
  }

  .fab{
    padding: 0 5px;
  }
  .fab:hover{
    transform: translateY(-5px); 
    transition: transform .5s ease-in-out;
  }
  .fa-facebook{
    color: #1873EB;
  }
  .fa-twitter{
    color: #4FC5F7;
  }
  .fa-linkedin-in{
    color: #047CBA;
  }
  .fa-instagram{
    color: #C5007A;
  }
  .fa-youtube{
    color: #FF0000;
  }

  /* FAQ Section CSS */
.cbr-accordian button{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #383838;
}
.cbr-accordian p, .cbr-accordian p li{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #7E848C;
}
.faq img{
  width: 431px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.accordion-button:not(.collapsed){
  color: #E76F51;
}
.acd li{
  list-style: none;
}


/* Shopping CSS */
.col-item{
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info {
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
.col-item:hover{
    transform: translateY(-10px);
    transition: transform .5s ease-in-out;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.20);
}
.col-item:hover img{
    transform: scale(.95);
    transition: transform .5s ease-in-out;
    opacity: .95;
}

.product-title h5 {
  line-height: 20px;
  margin: 0;
  font-size: 16px;
  font-family: 'Inter';
  color: #383838;
}

.col-item .rating
{
    
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}
.rating h5{
  color: #007CFF;
  font-weight: bold;
}
.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.col-item .separator p i
{
    margin-right: 5px;
}

/* Footer Section CSS */
footer{
  background-color: #0B0D17;

}
.footer-menu a{
  color: white;
  text-decoration: none;
  font-family: Manrope;
  font-size: 16px;
  line-height: 26px;
  padding: 12px 20px 12px 0px;
}
.footer-menu a:hover{
color: #E76F51; 
}
.footer-menu p{
  font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
}
.footer-right p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.footer-social > a{
  padding:0px;
}
.footer-right img{
width: 135px;
}